################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iClassic/obj
/iClassic/bin
/iClassic/logs
