USE [master]
GO
/****** Object:  Database [iClassic]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE DATABASE [iClassic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iClassic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\iClassic.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iClassic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\iClassic_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iClassic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iClassic]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[BranchId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[Salary] [float] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_AspNetUsers_Status]  DEFAULT ((1)),
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branch]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[SDT] [varchar](20) NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKH]  AS ('KH'+CONVERT([nvarchar](10),[ID])),
	[TenKH] [nvarchar](200) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[KenhQC] [int] NULL,
	[DangNguoi] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[Image] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Group] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL CONSTRAINT [DF__Customer__Create__24927208]  DEFAULT (getdate()),
	[BranchId] [int] NOT NULL,
	[Birthday] [datetime] NULL,
	[CreateBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK__Customer__3214EC07B8C74A10] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code]  AS ('HD'+CONVERT([nvarchar](10),[ID])),
	[Total] [float] NOT NULL,
	[DatCoc] [float] NULL,
	[ChietKhau] [float] NULL,
	[NgayThu] [datetime] NULL,
	[NgayTra] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreateBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
	[BranchId] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiVai]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaVai] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Created] [datetime2](7) NOT NULL,
	[BranchId] [int] NOT NULL,
	[CreateBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_LoaiVai] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberCard]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberCard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[BirthDayDiscount] [int] NOT NULL CONSTRAINT [DF_MemberCard_BirthDayDiscount]  DEFAULT ((0)),
	[NguoiThanDiscount] [int] NOT NULL CONSTRAINT [DF_MemberCard_NguoiThanDiscount]  DEFAULT ((0)),
 CONSTRAINT [PK_MemberCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MucChi] [nvarchar](500) NOT NULL,
	[SoTien] [float] NOT NULL,
	[NguoiNhanPhieu] [nvarchar](500) NOT NULL,
	[BranchId] [int] NOT NULL,
	[CreateBy] [nvarchar](128) NOT NULL,
	[Created] [datetime2](7) NOT NULL CONSTRAINT [DF__PhieuChi__Create__25869641]  DEFAULT (getdate()),
 CONSTRAINT [PK__PhieuChi__3214EC076110107F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuSanXuat]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuSanXuat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](500) NULL,
	[DangNguoi] [nvarchar](500) NULL,
	[MaVaiId] [int] NULL,
	[SoLuong] [int] NOT NULL CONSTRAINT [DF__PhieuSanX__SoLuo__267ABA7A]  DEFAULT ((1)),
	[Status] [int] NOT NULL CONSTRAINT [DF__PhieuSanX__Statu__276EDEB3]  DEFAULT ((1)),
	[StatusGiaoNhan] [int] NOT NULL CONSTRAINT [DF_PhieuSanXuat_StatusGiaoNhan_1]  DEFAULT ((0)),
	[VaiType] [int] NOT NULL CONSTRAINT [DF_PhieuSanXuat_HasVai]  DEFAULT ((0)),
	[GiaVaiMau] [float] NULL,
	[HasVai] [bit] NOT NULL CONSTRAINT [DF_PhieuSanXuat_HasVai_1]  DEFAULT ((0)),
	[InvoiceId] [int] NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[ThoCatId] [int] NOT NULL,
	[ThoMayId] [int] NOT NULL,
	[ThoDoId] [int] NOT NULL,
 CONSTRAINT [PK__PhieuSan__3214EC076E805B12] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuSua]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuSua](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[SoTien] [float] NULL CONSTRAINT [DF_PhieuSua_SoTien]  DEFAULT ((0)),
	[Status] [int] NOT NULL CONSTRAINT [DF__PhieuSua__Status__29572725]  DEFAULT ((1)),
	[StatusGiaoNhan] [int] NOT NULL CONSTRAINT [DF_PhieuSua_StatusGiaoNhan_1]  DEFAULT ((0)),
	[Type] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProblemBy] [int] NULL,
	[ThoId] [int] NOT NULL,
 CONSTRAINT [PK__PhieuSua__3214EC07B302505D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductMemberCard]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMemberCard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberCardId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Discount] [int] NOT NULL CONSTRAINT [DF_ProductMemberCard_Discount]  DEFAULT ((0)),
 CONSTRAINT [PK_ProductMemberCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTyeField]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTyeField](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[ProductTypeId] [int] NOT NULL,
 CONSTRAINT [PK_ProductTyeField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [float] NOT NULL,
	[IsFitting] [bit] NOT NULL CONSTRAINT [DF_ProductType_IsFitting_1]  DEFAULT ((1)),
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTypeLoaiVai]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypeLoaiVai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MavaiId] [int] NOT NULL,
	[Price] [float] NULL,
	[ProductTypeId] [int] NOT NULL,
 CONSTRAINT [PK_ProductTypeLoaiVai] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTypeValue]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypeValue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](200) NULL,
	[ProductTypeFieldId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_ProductTypeValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Salary]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[IsPaid] [bit] NOT NULL CONSTRAINT [DF_Salary_IsPaid]  DEFAULT ((0)),
	[WorkerId] [int] NULL,
	[EmployeeId] [nvarchar](128) NULL,
	[TotalSalary] [float] NOT NULL CONSTRAINT [DF_Salary_TotalSalary]  DEFAULT ((0)),
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tho]    Script Date: 10/2/2017 7:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tho](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[XuongId] [int] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Tho_IsActive_1]  DEFAULT ((1)),
	[Salary] [float] NULL,
	[SalaryPercent] [int] NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Tho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'21C07E38-61F9-4B5C-9B3B-DD0C258DAB86', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'A180355D-CD80-4ACF-944E-B362B2CC7C0A', N'Employee')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'EAC8B9F1-F285-47A8-81C5-A029245BFC74', N'SupperAdmin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'47060352-d63f-4e33-83e3-85a8b16c30fc', N'21C07E38-61F9-4B5C-9B3B-DD0C258DAB86')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', N'EAC8B9F1-F285-47A8-81C5-A029245BFC74')
INSERT [dbo].[AspNetUsers] ([Id], [BranchId], [Name], [Email], [Salary], [IsActive], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'47060352-d63f-4e33-83e3-85a8b16c30fc', 3, N'Thền Ngọc Sơn', NULL, NULL, 0, 0, N'AKU3BN/w7dnEQj+XrdfNo0d6xD6aN+h/EwbSUb/vOv4MYwLn5CvsSpQJ0K9N0qR35A==', N'd51997ab-026d-4740-947f-d64bb52d292f', NULL, 0, 0, NULL, 1, 0, N'ngocson')
INSERT [dbo].[AspNetUsers] ([Id], [BranchId], [Name], [Email], [Salary], [IsActive], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', 2, N'Lê Anh Tuấn', NULL, NULL, 1, 0, N'ANvQ8+wg2oFVa/Wi9vNsVhkQ7+XhketQzn+tlKRMQOeuqV2RkJEnYt3JG2wKi+YOXw==', N'f1f08ad4-ace5-4bfe-9de1-bd0c511cec25', NULL, 0, 0, NULL, 0, 0, N'admin')
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Id], [Name], [Address], [SDT], [Created]) VALUES (2, N'Charles & Brenton Laocai', N'Lào Cai', N'0983.343.3322', CAST(N'2017-08-11 14:32:22.9999293' AS DateTime2))
INSERT [dbo].[Branch] ([Id], [Name], [Address], [SDT], [Created]) VALUES (3, N'iClassic', N'Hồ Tây', N'0909.999.999', CAST(N'2017-08-11 17:48:38.9084727' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [TenKH], [SDT], [KenhQC], [DangNguoi], [Address], [Image], [Note], [Group], [Created], [BranchId], [Birthday], [CreateBy]) VALUES (4, N'Trần Quốc Toàn', N'0988.000.111', 2, NULL, N'Hà Nội', NULL, NULL, 1, CAST(N'2017-09-01 00:58:44.6114368' AS DateTime2), 2, NULL, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d')
INSERT [dbo].[Customer] ([Id], [TenKH], [SDT], [KenhQC], [DangNguoi], [Address], [Image], [Note], [Group], [Created], [BranchId], [Birthday], [CreateBy]) VALUES (10, N'Lê Trọng Tấn', N'0988.000.111', 1, NULL, N'Hà Nội', NULL, NULL, 1, CAST(N'2017-09-17 00:08:40.5118286' AS DateTime2), 2, NULL, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d')
INSERT [dbo].[Customer] ([Id], [TenKH], [SDT], [KenhQC], [DangNguoi], [Address], [Image], [Note], [Group], [Created], [BranchId], [Birthday], [CreateBy]) VALUES (11, N'Hoàng Quốc Việt', N'0988.999.999', 2, NULL, N'Hà Nội', NULL, N'OK', 3, CAST(N'2017-09-17 11:37:41.1272909' AS DateTime2), 2, NULL, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([Id], [Total], [DatCoc], [ChietKhau], [NgayThu], [NgayTra], [Status], [CustomerId], [CreateBy], [ModifiedBy], [BranchId], [Created], [ModifiedDate]) VALUES (1, 14050000, 4000000, 400000, CAST(N'2017-09-13 13:38:39.000' AS DateTime), CAST(N'2017-09-13 13:38:39.000' AS DateTime), 3, 4, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', 2, CAST(N'2017-09-06 13:41:13.8284861' AS DateTime2), CAST(N'2017-09-26 00:27:48.3056733' AS DateTime2))
INSERT [dbo].[Invoice] ([Id], [Total], [DatCoc], [ChietKhau], [NgayThu], [NgayTra], [Status], [CustomerId], [CreateBy], [ModifiedBy], [BranchId], [Created], [ModifiedDate]) VALUES (2, 400000, 100000, NULL, CAST(N'2017-09-13 23:20:58.000' AS DateTime), CAST(N'2017-09-13 23:20:58.000' AS DateTime), 1, 4, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', 2, CAST(N'2017-09-06 23:22:04.9977166' AS DateTime2), CAST(N'2017-09-06 23:22:04.9987171' AS DateTime2))
INSERT [dbo].[Invoice] ([Id], [Total], [DatCoc], [ChietKhau], [NgayThu], [NgayTra], [Status], [CustomerId], [CreateBy], [ModifiedBy], [BranchId], [Created], [ModifiedDate]) VALUES (3, 0, NULL, NULL, CAST(N'2017-09-19 19:35:56.000' AS DateTime), CAST(N'2017-09-19 19:35:56.000' AS DateTime), 1, 4, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', 2, CAST(N'2017-09-12 19:36:14.9409337' AS DateTime2), CAST(N'2017-09-12 19:36:14.9409337' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Invoice] OFF
SET IDENTITY_INSERT [dbo].[LoaiVai] ON 

INSERT [dbo].[LoaiVai] ([Id], [MaVai], [Name], [Note], [Created], [BranchId], [CreateBy]) VALUES (1, N'DJK9000', N'Vải cao cấp 2', N'OK', CAST(N'2017-09-01 01:07:52.3874686' AS DateTime2), 2, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d')
INSERT [dbo].[LoaiVai] ([Id], [MaVai], [Name], [Note], [Created], [BranchId], [CreateBy]) VALUES (2, N'KJ2008DFF', N'Vải cao cấp 1', N'vvv', CAST(N'2017-09-01 01:24:39.0151819' AS DateTime2), 2, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d')
SET IDENTITY_INSERT [dbo].[LoaiVai] OFF
SET IDENTITY_INSERT [dbo].[MemberCard] ON 

INSERT [dbo].[MemberCard] ([Id], [Name], [Note], [BirthDayDiscount], [NguoiThanDiscount]) VALUES (2, N'Silver', N'Hạng bạc', 10, 5)
INSERT [dbo].[MemberCard] ([Id], [Name], [Note], [BirthDayDiscount], [NguoiThanDiscount]) VALUES (3, N'Gold', N'Hạng vàng', 15, 10)
INSERT [dbo].[MemberCard] ([Id], [Name], [Note], [BirthDayDiscount], [NguoiThanDiscount]) VALUES (4, N'Platinum', N'Hạng kim cương', 20, 15)
SET IDENTITY_INSERT [dbo].[MemberCard] OFF
SET IDENTITY_INSERT [dbo].[PhieuChi] ON 

INSERT [dbo].[PhieuChi] ([Id], [MucChi], [SoTien], [NguoiNhanPhieu], [BranchId], [CreateBy], [Created]) VALUES (1, N'Chi mua vải', 5000000, N'Mr. Tuấn', 2, N'f691cf30-3b9e-4e04-9f60-2eaecf32d75d', CAST(N'2017-09-01 01:09:00.6203675' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PhieuChi] OFF
SET IDENTITY_INSERT [dbo].[PhieuSanXuat] ON 

INSERT [dbo].[PhieuSanXuat] ([Id], [TenSanPham], [DangNguoi], [MaVaiId], [SoLuong], [Status], [StatusGiaoNhan], [VaiType], [GiaVaiMau], [HasVai], [InvoiceId], [ProductTypeId], [DonGia], [ThoCatId], [ThoMayId], [ThoDoId]) VALUES (1, N'Suit', NULL, 1, 2, 0, 0, 0, NULL, 0, 1, 3, 7000000, 2, 3, 1)
INSERT [dbo].[PhieuSanXuat] ([Id], [TenSanPham], [DangNguoi], [MaVaiId], [SoLuong], [Status], [StatusGiaoNhan], [VaiType], [GiaVaiMau], [HasVai], [InvoiceId], [ProductTypeId], [DonGia], [ThoCatId], [ThoMayId], [ThoDoId]) VALUES (2, N'Áo choàng', NULL, NULL, 2, 0, 0, 0, NULL, 0, 2, 5, 200000, 2, 3, 1)
INSERT [dbo].[PhieuSanXuat] ([Id], [TenSanPham], [DangNguoi], [MaVaiId], [SoLuong], [Status], [StatusGiaoNhan], [VaiType], [GiaVaiMau], [HasVai], [InvoiceId], [ProductTypeId], [DonGia], [ThoCatId], [ThoMayId], [ThoDoId]) VALUES (3, N'Test', N'test sadfasdfdsf', NULL, 1, 0, 0, 0, NULL, 0, 5, 3, 500000, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[PhieuSanXuat] OFF
SET IDENTITY_INSERT [dbo].[PhieuSua] ON 

INSERT [dbo].[PhieuSua] ([Id], [NoiDung], [SoTien], [Status], [StatusGiaoNhan], [Type], [InvoiceId], [ProblemBy], [ThoId]) VALUES (2, N'Sửa đũng', 50000, 0, 0, 1, 1, 2, 1)
INSERT [dbo].[PhieuSua] ([Id], [NoiDung], [SoTien], [Status], [StatusGiaoNhan], [Type], [InvoiceId], [ProblemBy], [ThoId]) VALUES (12, N'Chật nách', 0, 0, 0, 0, 3, 3, 6)
SET IDENTITY_INSERT [dbo].[PhieuSua] OFF
SET IDENTITY_INSERT [dbo].[ProductMemberCard] ON 

INSERT [dbo].[ProductMemberCard] ([Id], [MemberCardId], [ProductId], [Discount]) VALUES (1, 2, 3, 5)
INSERT [dbo].[ProductMemberCard] ([Id], [MemberCardId], [ProductId], [Discount]) VALUES (2, 2, 5, 5)
INSERT [dbo].[ProductMemberCard] ([Id], [MemberCardId], [ProductId], [Discount]) VALUES (3, 2, 6, 5)
SET IDENTITY_INSERT [dbo].[ProductMemberCard] OFF
SET IDENTITY_INSERT [dbo].[ProductTyeField] ON 

INSERT [dbo].[ProductTyeField] ([Id], [Name], [Note], [ProductTypeId]) VALUES (1, N'Vai', NULL, 3)
INSERT [dbo].[ProductTyeField] ([Id], [Name], [Note], [ProductTypeId]) VALUES (2, N'Xuôi vai', NULL, 3)
INSERT [dbo].[ProductTyeField] ([Id], [Name], [Note], [ProductTypeId]) VALUES (3, N'Dài áo', NULL, 3)
SET IDENTITY_INSERT [dbo].[ProductTyeField] OFF
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [Name], [Price], [IsFitting], [Note]) VALUES (3, N'ÁO VEST', 500000, 1, NULL)
INSERT [dbo].[ProductType] ([Id], [Name], [Price], [IsFitting], [Note]) VALUES (5, N'SƠ MI', 200000, 0, NULL)
INSERT [dbo].[ProductType] ([Id], [Name], [Price], [IsFitting], [Note]) VALUES (6, N'QUẦN ÂU', 300000, 1, NULL)
SET IDENTITY_INSERT [dbo].[ProductType] OFF
SET IDENTITY_INSERT [dbo].[ProductTypeLoaiVai] ON 

INSERT [dbo].[ProductTypeLoaiVai] ([Id], [MavaiId], [Price], [ProductTypeId]) VALUES (1, 1, 7000000, 3)
INSERT [dbo].[ProductTypeLoaiVai] ([Id], [MavaiId], [Price], [ProductTypeId]) VALUES (2, 1, 500000, 5)
INSERT [dbo].[ProductTypeLoaiVai] ([Id], [MavaiId], [Price], [ProductTypeId]) VALUES (3, 1, 700000, 6)
SET IDENTITY_INSERT [dbo].[ProductTypeLoaiVai] OFF
SET IDENTITY_INSERT [dbo].[ProductTypeValue] ON 

INSERT [dbo].[ProductTypeValue] ([Id], [Value], [ProductTypeFieldId], [CustomerId]) VALUES (47, N'80', 1, 4)
INSERT [dbo].[ProductTypeValue] ([Id], [Value], [ProductTypeFieldId], [CustomerId]) VALUES (48, NULL, 2, 4)
INSERT [dbo].[ProductTypeValue] ([Id], [Value], [ProductTypeFieldId], [CustomerId]) VALUES (49, NULL, 3, 4)
SET IDENTITY_INSERT [dbo].[ProductTypeValue] OFF
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([Id], [FromDate], [ToDate], [IsPaid], [WorkerId], [EmployeeId], [TotalSalary], [Note]) VALUES (2, CAST(N'2017-09-01' AS Date), CAST(N'2017-09-26' AS Date), 1, 2, NULL, 300000, N'Lương tháng 09 - 2017')
SET IDENTITY_INSERT [dbo].[Salary] OFF
SET IDENTITY_INSERT [dbo].[Tho] ON 

INSERT [dbo].[Tho] ([Id], [Name], [XuongId], [IsActive], [Salary], [SalaryPercent], [Type]) VALUES (1, N'Phong', 1, 1, NULL, NULL, 1)
INSERT [dbo].[Tho] ([Id], [Name], [XuongId], [IsActive], [Salary], [SalaryPercent], [Type]) VALUES (2, N'Vinh', 2, 1, 150000, NULL, 2)
INSERT [dbo].[Tho] ([Id], [Name], [XuongId], [IsActive], [Salary], [SalaryPercent], [Type]) VALUES (3, N'Chuyên', 3, 1, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[Tho] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/2/2017 7:56:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Customer__2725CF1F2A98D8C6]    Script Date: 10/2/2017 7:56:44 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ__Customer__2725CF1F2A98D8C6] UNIQUE NONCLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Branch]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_AspNetUsers] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_AspNetUsers]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Branch]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Branch1] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Branch1]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Customer]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_UserCreate] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_UserCreate]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_UserModified] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_UserModified]
GO
ALTER TABLE [dbo].[LoaiVai]  WITH CHECK ADD  CONSTRAINT [FK_LoaiVai_AspNetUsers] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LoaiVai] CHECK CONSTRAINT [FK_LoaiVai_AspNetUsers]
GO
ALTER TABLE [dbo].[LoaiVai]  WITH CHECK ADD  CONSTRAINT [FK_LoaiVai_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[LoaiVai] CHECK CONSTRAINT [FK_LoaiVai_Branch]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_AspNetUsers] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_AspNetUsers]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_Branch]
GO
ALTER TABLE [dbo].[PhieuSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSanXuat_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuSanXuat] CHECK CONSTRAINT [FK_PhieuSanXuat_Invoice]
GO
ALTER TABLE [dbo].[PhieuSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSanXuat_LoaiVai] FOREIGN KEY([MaVaiId])
REFERENCES [dbo].[LoaiVai] ([Id])
GO
ALTER TABLE [dbo].[PhieuSanXuat] CHECK CONSTRAINT [FK_PhieuSanXuat_LoaiVai]
GO
ALTER TABLE [dbo].[PhieuSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSanXuat_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[PhieuSanXuat] CHECK CONSTRAINT [FK_PhieuSanXuat_ProductType]
GO
ALTER TABLE [dbo].[PhieuSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSanXuat_Tho] FOREIGN KEY([ThoDoId])
REFERENCES [dbo].[Tho] ([Id])
GO
ALTER TABLE [dbo].[PhieuSanXuat] CHECK CONSTRAINT [FK_PhieuSanXuat_Tho]
GO
ALTER TABLE [dbo].[PhieuSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSanXuat_Tho1] FOREIGN KEY([ThoMayId])
REFERENCES [dbo].[Tho] ([Id])
GO
ALTER TABLE [dbo].[PhieuSanXuat] CHECK CONSTRAINT [FK_PhieuSanXuat_Tho1]
GO
ALTER TABLE [dbo].[PhieuSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSanXuat_Tho2] FOREIGN KEY([ThoCatId])
REFERENCES [dbo].[Tho] ([Id])
GO
ALTER TABLE [dbo].[PhieuSanXuat] CHECK CONSTRAINT [FK_PhieuSanXuat_Tho2]
GO
ALTER TABLE [dbo].[PhieuSua]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSua_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuSua] CHECK CONSTRAINT [FK_PhieuSua_Invoice]
GO
ALTER TABLE [dbo].[PhieuSua]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSua_Tho] FOREIGN KEY([ThoId])
REFERENCES [dbo].[Tho] ([Id])
GO
ALTER TABLE [dbo].[PhieuSua] CHECK CONSTRAINT [FK_PhieuSua_Tho]
GO
ALTER TABLE [dbo].[PhieuSua]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSua_Tho1] FOREIGN KEY([ProblemBy])
REFERENCES [dbo].[Tho] ([Id])
GO
ALTER TABLE [dbo].[PhieuSua] CHECK CONSTRAINT [FK_PhieuSua_Tho1]
GO
ALTER TABLE [dbo].[ProductMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_ProductMemberCard_MemberCard] FOREIGN KEY([MemberCardId])
REFERENCES [dbo].[MemberCard] ([Id])
GO
ALTER TABLE [dbo].[ProductMemberCard] CHECK CONSTRAINT [FK_ProductMemberCard_MemberCard]
GO
ALTER TABLE [dbo].[ProductMemberCard]  WITH CHECK ADD  CONSTRAINT [FK_ProductMemberCard_ProductType] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[ProductMemberCard] CHECK CONSTRAINT [FK_ProductMemberCard_ProductType]
GO
ALTER TABLE [dbo].[ProductTyeField]  WITH CHECK ADD  CONSTRAINT [FK_ProductTyeField_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTyeField] CHECK CONSTRAINT [FK_ProductTyeField_ProductType]
GO
ALTER TABLE [dbo].[ProductTypeLoaiVai]  WITH CHECK ADD  CONSTRAINT [FK_ProductTypeLoaiVai_LoaiVai] FOREIGN KEY([MavaiId])
REFERENCES [dbo].[LoaiVai] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTypeLoaiVai] CHECK CONSTRAINT [FK_ProductTypeLoaiVai_LoaiVai]
GO
ALTER TABLE [dbo].[ProductTypeLoaiVai]  WITH CHECK ADD  CONSTRAINT [FK_ProductTypeLoaiVai_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTypeLoaiVai] CHECK CONSTRAINT [FK_ProductTypeLoaiVai_ProductType]
GO
ALTER TABLE [dbo].[ProductTypeValue]  WITH CHECK ADD  CONSTRAINT [FK_ProductTypeValue_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTypeValue] CHECK CONSTRAINT [FK_ProductTypeValue_Customer]
GO
ALTER TABLE [dbo].[ProductTypeValue]  WITH CHECK ADD  CONSTRAINT [FK_ProductTypeValue_ProductTyeField] FOREIGN KEY([ProductTypeFieldId])
REFERENCES [dbo].[ProductTyeField] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTypeValue] CHECK CONSTRAINT [FK_ProductTypeValue_ProductTyeField]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_AspNetUsers] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_AspNetUsers]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Tho] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Tho] ([Id])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Tho]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: None, 1: Giao cho Thợ cắt, 2: Đã Nhận về, 3: Giao cho Thợ May' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhieuSanXuat', @level2type=N'COLUMN',@level2name=N'StatusGiaoNhan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Khách mang vải đến, 1: Vải không có sẵn, 2: Vải mẫu cửa hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhieuSanXuat', @level2type=N'COLUMN',@level2name=N'VaiType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Miêu tả lỗi sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhieuSua', @level2type=N'COLUMN',@level2name=N'NoiDung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Cửa hàng, 1: Giao Thợ sửa, 2: Đã nhận về' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhieuSua', @level2type=N'COLUMN',@level2name=N'StatusGiaoNhan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảo hành hay khách nhờ sửa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhieuSua', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Do người cắt, người may, người đo, hay lý do khác' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhieuSua', @level2type=N'COLUMN',@level2name=N'ProblemBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Do, 2: Cat, 3: May' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tho', @level2type=N'COLUMN',@level2name=N'Type'
GO
USE [master]
GO
