.file-caption-name {
    height: 19px;
}

#branch h3 {
    padding: 10px 20px;
    height: 50px;
    margin: 0;
}

    #branch h3 small:hover {
        cursor: pointer;
    }

.headermenu .btn-group {
    height: 50px;
}

.header-right {
    position: absolute;
    top: 0;
    right: 0;
}

#lblSoTienChietKhau {
    position: absolute;
    display: block;
    bottom: -38px;
    left: 0;
}

#ChietKhauType {
    height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.select2-container .select2-selection--single {
    height: 37.5px;
    padding-top: 4px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contentpanel {
        padding: 20px 2px;
        position: relative;
    }

    .panel-body {
        padding: 5px;
    }

    .panel-heading {
        padding: 3px 10px;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 10px 5px;
    }

    .label {
        font-size: 9px;
    }
}

@media only screen and (min-device-width : 768px) {
    #ChietKhauType {
        height: 38px;
    }
}

.scroll-pagination {
    position: fixed;
    right: 2px;
    top: 50%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .scroll-pagination li a {
        display: block;
        background: #1d2939;
        border-radius: 10px;
        padding: 1px 5px;
        margin-bottom: 4px;
        font-size: 9px;
        line-height: 12px;
        color: #fff;
        text-decoration:none;
    }

        .scroll-pagination li a:hover {
            background: #428bca;
            text-decoration:none;
        }
