@model iClassic.Models.Invoice

@{
    ViewBag.Title = "Chi tiêt đơn hàng";
    ViewBag.Class = "fa fa-dollar";
    ViewBag.Breadcrumbs = ViewBag.Title;
}

@Html.Partial("_DonHangPartial", Model)
<div class="text-right btn-invoice">
    <a href="@Url.Action("Index")" class="pull-left btn btn-default">Quay lại</a>
    <button class="btn btn-primary mr5"><i class="fa fa-dollar mr5"></i> Xác nhận đã trả hàng cho khách</button>
    <a class="btn btn-white" href="@Url.Action("Print", new { id = Model.Id })" target="_blank"><i class="fa fa-print mr5"></i> In đơn hàng</a>
</div>