@using iClassic.Models;
@using iClassic.Helper;
@model DashboardModel
@{
    ViewBag.Title = "Trang chủ";
    ViewBag.Class = "fa fa-home";
    ViewBag.Breadcrumbs = ViewBag.Title;
}
<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-danger panel-alt widget-today">
            <div class="panel-heading text-center">
                <i class="fa fa-scissors"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new {Status = (byte)TicketStatus.ChuaXuLy })">
                        Đơn hàng chưa xử lý: <strong class="text-danger">@Model.ChuaMay</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>

    <div class="col-xs-6">
        <div class="panel panel-warning panel-alt widget-time">
            <div class="panel-heading text-center">
                <i class="fa fa-spinner"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new {Status = (byte)TicketStatus.DaXuLy })">
                        Đơn hàng chưa trả: <strong class="text-danger">@Model.DaMayChuaTra</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
</div>